.spinner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: slide-in 1s ease-in-out forwards;
  }
  
  .spinner {
    margin-right: 1rem;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-20%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  